<form id="fm-connection" method="post">
	<table cellpadding="5">
		<tr>
			<td>连接名称:</td>
			<td>
				<input class="easyui-textbox" type="text" name="name"
				data-options="required:true"></input></td>
		</tr>
		<tr>
			<td>IP地址:</td>
			<td>
				<input class="easyui-textbox" type="text" name="IP"
				data-options="required:true,validType:'email'"></input>
		</td>
		</tr>
		<tr>
			<td>端口号:</td>
			<td>
				<input class="easyui-textbox" type="text" name="subject" data-options="required:true"></input>
			</td>
		</tr>
	</table>
</form>