<div class="easyui-layout" data-options="border:false,fit:true" >
	<div data-options="region:'west',border:true,split:true,collapsible:false" title="表模型列表" id="m-db-panel" style="width:250px;">
		<!-- <ul class="easyui-datalist" id="m-dblist">
	    </ul> -->
	    <div id="m-dblist"></div>
	</div>
	<div data-options="region:'center',border:false,title:'表信息',iconCls:'icon-ok'">
		
	</div>
</div>
<!-- 右键菜单 -->
<div id="m-db-menu" class="easyui-menu" style="width:120px;">
	<div data-options="name:'new'">新建</div>
	<div data-options="name:'save',iconCls:'icon-save'">修改</div>
	<div data-options="name:'print',iconCls:'icon-print'">删除</div>
</div>
<!-- 右键菜单 -->
<div id="m-panel-menu" class="easyui-menu" style="width:120px;">
	<div data-options="name:'new'">新建</div>
</div>