<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zsq.th3.dao.SiteRefLinkMapper" >
  <resultMap id="BaseResultMap" type="com.zsq.th3.entity.SiteRefLink" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="linkUrl" property="linkurl" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.zsq.th3.entity.SiteRefLink" extends="BaseResultMap" >
    <result column="linkIcon" property="linkicon" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, linkUrl
  </sql>
  <sql id="Blob_Column_List" >
    linkIcon
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from site_ref_link
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from site_ref_link
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zsq.th3.entity.SiteRefLink" >
    insert into site_ref_link (id, name, linkUrl, 
      linkIcon)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{linkurl,jdbcType=VARCHAR}, 
      #{linkicon,jdbcType=LONGVARBINARY})
  </insert>
  <insert id="insertSelective" parameterType="com.zsq.th3.entity.SiteRefLink" >
    insert into site_ref_link
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="linkurl != null" >
        linkUrl,
      </if>
      <if test="linkicon != null" >
        linkIcon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="linkurl != null" >
        #{linkurl,jdbcType=VARCHAR},
      </if>
      <if test="linkicon != null" >
        #{linkicon,jdbcType=LONGVARBINARY},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zsq.th3.entity.SiteRefLink" >
    update site_ref_link
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="linkurl != null" >
        linkUrl = #{linkurl,jdbcType=VARCHAR},
      </if>
      <if test="linkicon != null" >
        linkIcon = #{linkicon,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.zsq.th3.entity.SiteRefLink" >
    update site_ref_link
    set name = #{name,jdbcType=VARCHAR},
      linkUrl = #{linkurl,jdbcType=VARCHAR},
      linkIcon = #{linkicon,jdbcType=LONGVARBINARY}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zsq.th3.entity.SiteRefLink" >
    update site_ref_link
    set name = #{name,jdbcType=VARCHAR},
      linkUrl = #{linkurl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>