<div class="easyui-tabs" data-options="fit:true">
     <div title="模块数据" style="padding:10px">
          <div class="easyui-layout" data-options="fit:true">
		        <div data-options="region:'center',split:false">
					<!-- <div class="container-fluid" style="padding-top: 10px">
					<form class="form-horizontal" role="form">
					  <div class="form-group">
					  	
					  	<label class="col-sm-2 control-label">Model文件存放路径</label>
					    <div class="col-sm-3">
					      <input type="text" class="form-control" id="inputPassword" >
					    </div>
					    
					    <label class="col-sm-2 control-label">DAO文件存放路径</label>
					    <div class="col-sm-3">
					      <input type="text" class="form-control" id="inputPassword" >
					    </div>
					  </div>
					  <div class="form-group">
					  	<label class="col-sm-2 control-label">SERVICE文件存放路径</label>
					    <div class="col-sm-3">
					      <input type="text" class="form-control" id="inputPassword" >
					    </div>
					    
					     <label class="col-sm-2 control-label">Controller文件存放路径</label>
					     <div class="col-sm-3">
					      	<input type="text" class="form-control" id="inputPassword" >
					     </div>
					  </div>
					  
					  <div class="form-group">
					  	 <label class="col-sm-2 control-label">JS文件存放路径</label>
					     <div class="col-sm-3">
					       <input type="text" class="form-control" id="inputPassword" >
					     </div>
					    
					     <label class="col-sm-2 control-label">JSP文件存放路径</label>
					     <div class="col-sm-3">
					      	<input type="text" class="form-control" id="inputPassword">
					     </div>
					  </div>
					</form> 
					</div>   -->  
					<table class="easyui-datagrid" 
			            url="dbconfig/models" data-options="fit:true,border:false" rownumbers="true" pagination="true">
				        <thead>
				            <tr>
				                <th field="modelName" width="80">模块名称</th>
				                <th field="description" width="120">模块描述</th>
				            </tr>
				        </thead>
			    	</table>
					   	
		        </div>
		        <!-- <div data-options="region:'south',split:false" style="height: 40px">
		        	<div style="text-align: right;padding-top: 6px;padding-right: 6px">
			        	 <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">确定</a>
	        			 <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'">取消</a>
        			 </div>
		        </div> -->
		  </div>
     </div>
 </div>