<div class="easyui-tabs" data-options="fit:true">
     <div title="配置中心" style="padding:5px">
          <div class="easyui-layout" data-options="fit:true">
           		<div data-options="region:'west',split:false,collapsible:false" title="模块数据"  style="width:250px;">
           			<table id="dg-model-define"></table>
		        </div>
		        <div data-options="region:'center',split:false" title="模块配置">
					<div class="container-fluid" style="padding-top: 10px">
					<form class="form-horizontal" role="form">
					  <div class="form-group">
					  	
					  	<label class="col-sm-2 control-label">Model文件存放路径</label>
					    <div class="col-sm-3">
					      <input type="text" class="form-control" id="inputPassword" >
					    </div>
					    
					    <label class="col-sm-2 control-label">DAO文件存放路径</label>
					    <div class="col-sm-3">
					      <input type="text" class="form-control" id="inputPassword" >
					    </div>
					  </div>
					  <div class="form-group">
					  	<label class="col-sm-2 control-label">SERVICE文件存放路径</label>
					    <div class="col-sm-3">
					      <input type="text" class="form-control" id="inputPassword" >
					    </div>
					    
					     <label class="col-sm-2 control-label">Controller文件存放路径</label>
					     <div class="col-sm-3">
					      	<input type="text" class="form-control" id="inputPassword" >
					     </div>
					  </div>
					  
					  <div class="form-group">
					  	 <label class="col-sm-2 control-label">JS文件存放路径</label>
					     <div class="col-sm-3">
					       <input type="text" class="form-control" id="inputPassword" >
					     </div>
					    
					     <label class="col-sm-2 control-label">JSP文件存放路径</label>
					     <div class="col-sm-3">
					      	<input type="text" class="form-control" id="inputPassword">
					     </div>
					  </div>
					</form> 
					</div>  
		        </div>
		  </div>
     </div>
 </div>